.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 230px;
}

.cart1 h3 {
  padding-left: 140px;
  padding-bottom: 20px;
  color: #36454F;
}

.cart1 span {
  font-size: 20px;
  color: #A9A9A9;
}

.cart1 button {
  margin-top: 25px;
  margin-left: 130px;
  width: 180px;
  height: 40px;
  font-size: 17px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, .1);
  cursor: pointer;
  background-color: rgb(159, 32, 137);
  color: white;
}


.cartt {
  padding: 20px;
}

.cartt p {
  padding-left: 20px;
}

.cartt-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cartt-item img {
  width: 100px;
  margin-right: 20px;
}

.cartt-item h2 {
  flex-grow: 1;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  margin: 0 5px;
  padding: 5px;
}

.but {
  padding: 10px 20px;
  background-color: #f6f7f8;
  color: rgb(12, 12, 12);
  border: none;
  cursor: pointer;
}

.but:hover {
  background-color: #28282B;
  color: white;
}

.carttt {
  display: flex;
  justify-content: space-around;
}

.buy {
  margin-top: 30px;
  margin-left: 30px;
  width: 400px;
  height: 323px;
  /* border-style: solid; */
  /* border-color: lightgray; */
  border: 1px solid lightgray;
  position: sticky;
  top: 100px;

}

.buy1 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: end;
  /* flex-direction: row; */


}



.buy1 h3 {
  color: #36454F;
  padding-bottom: 10px;
  padding-left: 20px;
  width: 100%;
  /* padding-top: 20px; */
  border-bottom: 1px solid lightgray;
}

.buy1 h4 {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  color: #36454F;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.buy2 h4 {
  color: #36454F;
  margin: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.buut {
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 10px;
  width: 180px;
  height: 40px;
  font-size: 17px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 00px;
  box-shadow: 0 0 10px rgba(255, 255, 255, .1);
  cursor: pointer;
  background-color: #6e7051;
  ;
  color: white;
}

.buut:hover {
  background-color: black;
  transition: 1s;
}

.buyyy {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid lightgray;
}

.buyyy h3 {
  font-weight: bold;
  display: flex;
  padding-top: 15px;
  justify-content: center;
  align-items: center;
}